html,
body,
[aurelia-app] {
  width: 100vw;
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

[aurelia-app] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'tleft right'
    'bleft right';
}

.area-tleft {
  grid-area: tleft;
}

.area-bleft {
  grid-area: bleft;
}

.area-right {
  grid-area: right;
  padding: 12px;
  overflow-y: auto;
}

.content-area  {
  border: 1px solid grey;
}
